<div class="about-text pinky my-4 p-2">
  <h2 class='about-h2'>About me</h2>
  <p class='about-p'>
    Hi, I am Pierre Richemond. I am full stack developer. From Paris living in Kobe. I spend my time on personal projects and learning more about Ruby on rails, HTML, CSS and JavaScript. I am interested in remote work as well as freelance work. If you have an idea for a website or want to upgrade your current website contact me and we can discuss your options.</p>
</div>
