<div class="about-text pinky my-4 p-2" id="about-me">
  <h2 class="about-h2"><span class="name-gradient-right-to-left"><%= t("about_h2") %></span></h2>
  <p class='about-intro'><%= t("about_intro_html") %></p>
  <p class='about-p'><%= t("about_p_html") %></p>
</div>
