<div class="about-text pinky my-4 p-2" id="about-me">
  <h2 class='about-h2 moving'>About me</h2>
  <p class='about-p'>
    Hi, I am Pierre Richemond. I am a full stack developer from Paris living in Kobe. I spend my time on personal projects and learning more about Ruby on rails, HTML, CSS and JavaScript. I am interested in freelance as much as a full-time position using Ruby on Rails. Eventually, I would love to learn new languages! If you want to have a website or to upgrade your current one, contact me and we can discuss your options.</p>
</div>
