<div class="about-text pinky m-4 p-2">
  <h2 class='about-h2'>About me</h2>
  <p class='about-p'>I have starting coding in early July 2021, it's been really challenging but I love it.
    <br>
    I'm a <strong>fullstack developer</strong> who's been living in Tokyo since 2015.</p>
  <p class='about-p'>Ruby on Rails || Html & CSS || Javascript || SQL</p>
</div>
