<div class="pinky">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="projects" style="margin-bottom: 0;background-color: transparent;padding-bottom: 0">
        <h2 class='project-h2 moving'><%= t("projects") %></h2>
        <p class='project-p'><%= t("projects_p") %></p>
      </div>
      <div class="cards" style="padding-top: 4px;">
        <%# Condition locale english or french here %>
        <%# data.en_products || data.fr_products %>
        <% if langs == :fr %>
          <%= partial 'partials/fr-projects' %>
        <% else %>
          <%= partial 'partials/en-projects' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
