<div class="pinky my-4 p-2">
  <div class='about-h2'>
    <h2>How do I do?</h2>
  </div>
  <div class="d-flex justify-content-around">
    <div class="flipcard">
      <div class="card__inner">
        <div class="card__face card__face--front">
          <h2>Skills</h2>
        </div>
        <span class="flip-icon"><i class="fas fa-sync-alt"></i></span>
        <div class="card__face card__face--back">
          <div class="card__content">
            <div class="card__body">
              <h3>Ruby</h3>
              <h3>Html</h3>
              <h3>Css</h3>
              <h3>Javascript</h3>
              <h3>SQL</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flipcard">
      <div class="card__inner">
        <div class="card__face card__face--front">
          <h2>Tools</h2>
        </div>
        <span class="flip-icon"><i class="fas fa-sync-alt"></i></span>
        <div class="card__face card__face--back">
          <div class="card__content">
            <div class="card__body">
              <h3>Ruby on Rails</h3>
              <h3>Stimulus</h3>
              <h3>bootstrap</h3>
              <h3>postgreSQL</h3>
              <h3>React</h3>
              <h3>Git</h3>
              <h3>Heroku</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
