.about-h2{
  text-align: center;
  padding-bottom: 10px;
  margin-top: 20px;
  color: black;
}

.about-p{
  font-size: 20px;
  line-height: 1.4;
  color: black;
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
}

.about-intro{
  text-align: center;
    font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
}

.color-gradient{
  background: rgb(255, 230, 156);
  background: linear-gradient(90deg, rgba(255, 230, 156, 1) 0%, rgba(255, 243, 203, 0.3421962535014006) 56%, rgba(255, 242, 163, 1) 100%);
  text-align: justify;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.title-main{
  font-size: 50px;
}

.project{
  height:45vh;
  background-color: rgb(170, 28, 35);
  background-size: cover;
  border-radius: 5px;
}

.container{
  background-color: none;
}
