// Import your components CSS files here.
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Roboto&display=swap');
@import "alert";
@import "avatar";
@import "navbar";
@import "about";
@import "cards";
@import "project";
@import "navigation-button";


body{
  background-image: image-url("screen-7.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

h1{
  text-shadow: 0px 0px 5px rgb(117, 117, 117);
}

h1, h2, h5{
  font-family: 'Cinzel', serif;;
}



@media (max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {

  .container {
    width: 300px;
  }
}
