// Import your components CSS files here.
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Roboto&display=swap');
@import "alert";
@import "avatar";
@import "navbar";
@import "about";
@import "cards";
@import "project";
@import "navigation-button";
@import "flipcard";


body{
  background-image: image-url("dynamic-style.png");

  font-family: 'Roboto', sans-serif;
}

h1{
  text-shadow: 0px 0px 5px rgb(117, 117, 117);
}

h1, h2, h5, h6{
  font-family: 'Cinzel', serif;
}
.center{
  text-align: center;
}
ul{
  display: inline;
}
li{
list-style-type: none;
}
li, a{
  float: left;
  text-decoration: none;
  color: antiquewhite;
  font-family: 'Cinzel', serif;
  font-size: 20px;
}
