.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.top-banner{
  color: antiquewhite;
  background-color: rgb(91, 149, 156);
  background-size: cover;
  border-radius: 5px;
  width: 100%;
}

#name-gradient-left-to-right {
    background-image: linear-gradient(to right, #5e5547,#e97b5d, #f1be7a, antiquewhite);
    -webkit-background-clip: text;
        background-clip: text;
    color: transparent;

    background-size: 300%;
    background-position: -100%;

    animation: animatedText 12s infinite alternate-reverse;
}

.name-gradient-left-to-right {
    background-image: linear-gradient(to right, #0000,#3a362f, #ee9b2e, #EB5C33);
    -webkit-background-clip: text;
        background-clip: text;
    color: transparent;

    background-size: 300%;
    background-position: -100%;

    animation: animatedText 12s infinite alternate-reverse;
}

.name-gradient-right-to-left {
    background-image: linear-gradient(to left, #0000,#3a362f, #ee9b2e, #EB5C33);
    -webkit-background-clip: text;
        background-clip: text;
    color: transparent;

    background-size: 300%;
    background-position: -100%;

    animation: animatedText 12s infinite alternate-reverse;
}

@keyframes animatedText{
  to{
    background-position: 100%;
    }
}
