.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.top-banner{
  color: antiquewhite;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 255, 1) 62%, rgba(0, 212, 255, 1) 100%);

  background-size: cover;
  border-radius: 5px;
  width: 100%;
}

#name-gradient-left-to-right {
    background-image: linear-gradient(to right, #e97b5d,#ee9b2e, #f1be7a, #faebd7);
    -webkit-background-clip: text;
        background-clip: text;
    color: transparent;

    background-size: 300%;
    background-position: -100%;

    animation: animatedText 12s infinite alternate-reverse;
}

.name-gradient-left-to-right {
    background-image: linear-gradient(to right, #43434300,#EB5C33, #ee9b2e, #fff200);
    -webkit-background-clip: text;
        background-clip: text;
    color: transparent;

    background-size: 300%;
    background-position: -100%;

    animation: animatedText 10s infinite alternate-reverse;
}

.name-gradient-right-to-left {
    background-image: linear-gradient(to left, #43434300,
      #EB5C33,
      #ee9b2e,
      #fff200);
    -webkit-background-clip: text;
        background-clip: text;
    color: transparent;

    background-size: 300%;
    background-position: -100%;

    animation: animatedText 10s infinite alternate-reverse;
}

@keyframes animatedText{
  to{
    background-position: 100%;
    }
}
