.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.top-banner{
  color: antiquewhite;
  height:35vh;
  background-color: rgb(91, 149, 156);
  background-size: cover;
  border-radius: 5px;
  width: 100%;
}
